*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #23272e;
    color: white;
}

.header{
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;

    position: fixed;
}

.socialNetworks__link img{
    height: 45px;
    filter: invert(100%);
    margin: 5px;
}

.wallpaper{   
    background-color: rgb(0 0 0 / .8);
    color: #61afef;
    /* height: calc(100vh - 50px); */
    height: 100vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; 
} 

.wallpaper__img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.smallText{
    font-size: 0.8em;
    color: #ddd;
}

.section{
    padding: 25px;
}

.section h2{
    text-align: center;
}

.icon{
    height: 25px;
    filter: invert(100%);
}

.proyect{
    /* border: 2px solid white */
    /* border-radius: 25px; */
    margin: 25px;
    padding: 25px;
}

.proyect__title{
    color: #61afef;
    margin-bottom: 5px;
    text-align: left;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
}

.proyect__description{
    margin: 10px;
    text-align: justify;
}

.proyect__link{
    text-decoration: none;
    color: white;
    background: rgb(1, 83, 1);
    padding: 5px;
    /* margin: 100px; */
    /* display: block; */
    border-radius: 5px;
    text-align: center;
}
